#topbar-nav-container{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2rem;
}

@media (max-width: 991px) {
    #topbar-nav-container{
        position: absolute;
        width: 100vw;   
    }
}
